body {
    padding: 60px 0 60px 0;
}

.table_col1 {
    width: 25%;
}

.table_col2 {
    width: 50%;
}

.table_col3 {

}

.table_col4 {

}

.table_col5 {
    width: 25%;
}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
        .table_col1 {
        width: 15%;
    }

    .table_col2 {
        width: 35%;
    }

    .table_col3 {
        width: 15%;
    }

    .table_col4 {
        width: 20%;
    }

    .table_col5 {
        width: 15%;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {

}