{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    <link rel="stylesheet" href="{% static 'css/main_search.css' %}">
{% endblock %}

{% block header %}
    {{ block.super }}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'app:home' %}" class="navbar-brand">ImeiM&C</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'app:home' %}">个人中心</a></li>
                    <li class="active"><a href="{% url 'app:search' %}">工单查询</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" name="formid" placeholder="请输入单号">
                    </div>
                    <button type="button" class="btn btn-default btn-sm">&nbsp&nbsp查&nbsp&nbsp询&nbsp&nbsp</button>
                </form>
            </div>

        </div>
    </nav>
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form action="{% url 'app:search' %}" method="post" id="searchForm" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row" style="padding-right: 30px">
                        <label for="inputFormid" class="col-md-2 col-sm-2 control-label">单号：</label>

                        <div class="col-md-2 col-sm-4" style="margin-bottom: 10px">
                            <input type="text" class="form-control" id="inputFormid" name="inputFormid"
                                   placeholder="请输入单号">
                        </div>

                        <label for="inputKeyword" class="col-md-2 col-sm-2 control-label">关键字：</label>

                        <div class="col-md-2 col-sm-4" style="margin-bottom: 10px">
                            <input type="text" class="form-control" id="inputKeyword" name="inputKeyword"
                                   placeholder="请输入关键字">
                        </div>

                        <label for="inputCreateman" class="col-md-2 col-sm-2 control-label">提交人：</label>

                        <div class="col-md-2 col-sm-4" style="margin-bottom: 10px">
                            <input type="text" class="form-control" id="inputCreateman" name="inputCreateman"
                                   placeholder="请输入提交人">
                        </div>

                        <label for="inputDealman" class="col-md-2 col-sm-2 control-label">当前处理人：</label>

                        <div class="col-md-2 col-sm-4" style="margin-bottom: 10px">
                            <input type="text" class="form-control" id="inputDealman" name="inputDealman"
                                   placeholder="请输入当前处理人">
                        </div>
                        <label for="inputStatus" class="col-md-2 col-sm-2 control-label">状态：</label>

                        <div class="col-md-2 col-sm-4" style="margin-bottom: 10px">
                            <select name="inputStatus" class="form-control">
                                <option value="0" class="text-muted">新建</option>
                                <option value="1" class="text-muted">已提交</option>
                                <option value="2" class="text-muted">处理中</option>
                                <option value="3" class="text-muted">已审批</option>
                                <option value="4" class="text-muted">已退回</option>
                                <option value="5" class="text-muted">已作废</option>
                            </select>
                        </div>
                        <label for="inputType" class="col-md-2 col-sm-2 control-label">工单类型：</label>

                        <div class="col-md-2 col-sm-4" style="margin-bottom: 10px">
                            <select name="inputType" class="form-control">
                                <option value="modifytype" class="text-muted">捆绑修改</option>
                                <option value="canceltype" class="text-muted">取消捆绑</option>
                            </select>
                        </div>
                        <label for="inputCreatetime" class="col-md-2 col-sm-4 control-label">创建日期：</label>

                        <div class="col-md-6 col-sm-8" style="margin-bottom: 10px">
                            <div class="input-group input-group-sm">
                                <input type="date" class="form-control" id="inputBegintime" name="inputBegintime">
                                <span class="input-group-addon" id="basic-addon1">至</span>
                                <input type="date" class="form-control" id="inputEndtime" name="inputEndtime">
                            </div>
                        </div>
                        <div class="col-md-4 text-center" style="margin-bottom: 10px">
                            <button class="btn btn-primary btn-sm" type="submit">
                                &nbsp&nbsp&nbsp&nbsp查&nbsp&nbsp&nbsp&nbsp询&nbsp&nbsp&nbsp&nbsp
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="table-col1">工单编号</th>
                        <th class="table_col2">工单标题</th>
                        <th class="hidden-xs table_col3">当前处理人</th>
                        <th class="hidden-xs table_col4">最后处理时间</th>
                        <th class="table_col5">当前状态</th>
                    </tr>
                    </thead>
                    <tbody id="result_table">
                    {% for iform in formlist %}
                        <tr>
                            <td><a href="#">{{ iform.id }}</a></td>
                            <td><a href="#">{{ iform.f_title }}</a></td>
                            <td class="hidden-xs">{{ iform.f_dealman }}</td>
                            <td class="hidden-xs">{{ iform.f_lastmodifytime }}</td>
                            <td>{{ iform.f_status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if resultlength %}
                    <nav id="pagenav" aria-label="Page navigation">
                        <ul class="pagination">
                            <li id="previoustag" class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for page_num in page_range %}
                                {% ifequal page_num page %}
                                    <li class="active pagetag"><a href="#">{{ page_num }}</a></li>
                                {% else %}
                                    <li class="pagetag"><a href="#">{{ page_num }}</a></li>
                                {% endifequal %}
                            {% endfor %}
                            {% if formlist.has_next %}
                                <li id="nexttag">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li id="nexttag" class="disabled">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            <li>
                                <span aria-hidden="true">共  {{ page_range.stop|add:-1 }}  页</span>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container ">
                <h5 class="text-center text-muted">Copyright.caihan</h5>
                <p class="text-center text-muted">Email:14768454@qq.com</p>
            </div>
        </nav>

    </footer>
{% endblock %}

{% block  ext_js %}
    <script type="text/javascript" charset="UTF-8">
        $(function () {
            // ajax分页
            let now_page = 1
            //上一页
            $('#previoustag').click(function () {
                now_page -= 1;
                if (now_page < 1) {
                    now_page = 1;
                    return false
                } else {
                    $('.pagetag').parent().prev().click();
                }
            });
            //下一页
            $('#nexttag').click(function () {
                let num_pages = $('.pagetag a').last().text();
                now_page += 1;
                if (now_page > parseInt(num_pages)) {
                    now_page -= 1;
                    return false
                } else {
                    $('.pagetag').parent().next().click();
                }
            });
            //切换页
            $('.pagetag').click(function () {
                now_page = parseInt($(this).children('a').text());
                $('.pagetag').removeClass('active');
                $(this).addClass('active');
                page_click()
            });

            function page_click() {
                $.ajax({
                    type: 'get',
                    url: '{% url 'app:search' %}',
                    data: {page: now_page,
                        formid:'{{ formid }}',
                        keyword:'{{ keyword }}',
                        createman:'{{ createman }}',
                        dealman:'{{ dealman }}',
                        status:'{{ status }}',
                        formtype:'{{ formtype }}',
                        begintime:'{{ begintime }}',
                        endtime:'{{ endtime }}',
                    },
                    success: function (data) {
                        $('#result_table tr').remove();
                        if (data.has_previous === true) {
                            $('#previoustag').removeClass('disabled');
                        } else {
                            $('#previoustag').addClass('disabled')
                        }
                        if (data.has_next === true) {
                            $('#nexttag ').removeClass('disabled');
                        } else {
                            $('#nexttag').addClass('disabled');
                        }
                        $.each(data.result_list, function (index, formdata) {
                            let td_a = '<td><a href="#">';
                            let hidden_td = '<td class="hidden-xs">'
                            let a = '<td>'
                            let b = '</td>';
                            let a_td = '</a></td>'
                            let body =a+formdata.id+a_td+td_a+formdata.f_title+a_td+hidden_td+formdata.f_dealman+b+hidden_td+formdata.f_lastmodifytime+b+a+formdata.f_status+b
                            $('#result_table').append('<tr>' + body + '</tr>');
                        });
                    }
                })
            }
        })
    </script>
{% endblock %}
