{% extends 'base.html' %}
{% load static %}
{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="modal-content">
            <form action="{% url 'app:register' %}" method="post" enctype="multipart/form-data" onsubmit="paser_password()">
                {% csrf_token %}
                <div class="modal-header">

                    <h4 class="modal-title text-center" id="myModalLabel">登录</h4>
                </div>
                <div class="modal-body" id="model-body">
                    <div class="form-group">

                        <input type="text" class="form-control" name="username" placeholder="用户名"
                               autocomplete="off">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" name="mobile_number" placeholder="手机号码"
                               autocomplete="off">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" name="password" id="password_input" placeholder="密码"
                               autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">登录</button>
                    </div>

                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jsencrypt.js' %}"></script>
    <script type="text/javascript">
        function paser_password() {
            let password_old = $('#password_input').val()
            let encrypt = new JSEncrypt();
            let public_key = "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAu8ubZLdThmWypavbdD1p\n" +
                "mcgDntGDR3xECQ9LUGis9eXFzGm6/j3rLXTF4NbGUv8MN0PNcOwnREILLOmt/yrH\n" +
                "0fzcF6JkRxFL9COFteJYLf8lvzw0MVBtw/BVemaA4KS8gIekct2ZyvCKuKvYWQ9o\n" +
                "k3zIZCl5IhCsGSVrgffSDMkYNN9x5+lpZkRlZmNLVU1WQ44zg1sz4vQKkw5YsBbC\n" +
                "lwg3m24SVsEKGzQXTEJpTrAejCRG7+goZALaJUCnZHv1dzD5JPGYwIQCJNHcRoGB\n" +
                "MMQ3fYvh7pgi3A2+eX6tVHZv4I07Mg8lBn+RtAEQteKB3TiEzum3tKSOfXzlYUEl\n" +
                "kQIDAQAB";
            encrypt.setPublicKey(public_key);
            let password_new = encrypt.encrypt(password_old);
            $('#password_input').val(password_new)
        }
    </script>
{% endblock %}